appdirs==1.4.4
asgiref==3.2.7
attrs==19.3.0
black==19.10b0
click==7.1.2
dj-database-url==0.5.0
django==3.0.6
django-cors-headers==3.2.1
django-heroku==0.3.1
djangorestframework==3.11.0
flake8==3.8.1
gunicorn==20.0.4
mccabe==0.6.1
pathspec==0.8.0
psycopg2==2.8.5
pycodestyle==2.6.0
pyflakes==2.2.0
python-dotenv==0.13.0
pytz==2020.1
regex==2020.5.13
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
whitenoise==5.0.1
